<template id="event-template">
  <div class="msg-event">
    <div class="event-wrapper">
      <div class="event-top">
        <span class="event-info"></span>
        <button class="event-button">
          <i class="event-icon"></i>
        </button>
      </div>
      <div class="event-bottom"></div>
    </div>
  </div>
</template>

<template id="user-template">
  <a class="user"></a>
</template>

<template id="tier-template">
  <a class="tier"></a>
</template>

<template id="streak-template">
  <span class="streak-message"></span>
</template>

<template id="event-bar-event-template">
  <div class="event-bar-event">
    <div class="event-contents">
      <span class="event-info">
        <a class="user"></a>
      </span>
      <i class="event-icon"></i>
    </div>
  </div>
</template>

<template id="yt-tooltip-template">
  <div data-fetched="false" class="yt-tooltip">
    <figure class="yt-tooltip-data">
      <img class="yt-tooltip-thumbnail" />
      <figcaption class="yt-tooltip-metadata">
        <cite class="yt-tooltip-title"></cite>
        <div class="yt-tooltip-footer">
          <img class="yt-tooltip-icon" src="../../assets/chat/img/yt.svg" />
          <span class="yt-tooltip-channel"></span>
        </div>
      </figcaption>
    </figure>
    <span class="yt-tooltip-connector"></span>
  </div>
</template>
