@use '../abstracts' as a;

$link-color-map: (
  'nsfw': a.$color-underline-nsfw,
  'nsfl': a.$color-underline-nsfl,
  'spoilers': a.$color-underline-spoilers,
);

.msg-chat {
  word-wrap: break-word;
  padding: 1px 4px;
  color: a.$win95-text;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;

  .time {
    font-size: 0.8em;
    color: a.$win95-text-disabled;
    padding-right: 4px;
    display: none; /* hidden by default */
  }

  .user {
    font-weight: bold;
    cursor: pointer;
    margin-left: 0;
    color: a.$win95-highlight;
  }

  .chat-user {
    cursor: pointer;
    position: relative;

    &:hover {
      text-decoration: underline;
    }
  }

  &.msg-own .user {
    color: #cc0000;
  }

  .greentext {
    color: a.$color-green-text;
  }

  .sus {
    text-transform: uppercase;
    font-family: 'Among Us', 'MSSansSerif', sans-serif;
  }

  .externallink {
    border: none;
    color: #0000ee;
    text-decoration: underline;
    position: relative;

    &:visited {
      color: #551a8b;
    }

    &:hover,
    &:focus {
      color: #0000ee;
    }
  }

  @each $type, $color in $link-color-map {
    .#{$type}-link {
      border-style: dashed;
      border-width: 1px 0 1px 0;
      border-color: transparent transparent $color transparent;
    }
  }

  .hidden {
    display: none !important;
  }

  .embed-button {
    position: relative;
    top: 2.5px;
    margin-left: 2px;
    margin-right: 1px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  .focus & {
    opacity: 0.3;
  }
}

.pref-showtime .time {
  display: inline;
}

.pref-disableanimations {
  a.user,
  span.user {
    animation: none !important;
  }
}

.onstreamchat {
  .msg-chat {
    color: a.$text-color;
    margin: 0;
    padding: 1px 20px 1px 5px;
    filter: drop-shadow(-1px -1px 0 rgba(black, 0.5))
      drop-shadow(1px -1px 0 rgba(black, 0.5))
      drop-shadow(-1px 1px 0 rgba(black, 0.5))
      drop-shadow(1px 1px 0 rgba(black, 0.5));
    letter-spacing: 0.03em;
  }

  a.externallink,
  a.externallink:hover {
    color: a.$color-accent-light;
  }

  .greentext {
    color: a.$text-color;
  }

  .msg-chat,
  .msg-chat:not(.rainbow-border):before,
  .greentext {
    background: none !important;
  }

  time,
  .time,
  .msg-chat .text:before {
    display: none !important;
  }
}
