/* Pinned Messages */
#chat-pinned-frame {
  display: none;
  padding: 4px;
  position: absolute;
  width: 100%;
  z-index: 210;

  &.active {
    display: block;
  }

  #chat-pinned-show-btn {
    display: none;
    width: 1.3em;
    height: 1.3em;
    cursor: pointer;
    color: $color-chat-disabled;
    position: absolute;
    text-decoration: none;
    right: 0;
    margin-top: 2px;
    margin-right: $gutter-md;

    &.active {
      display: block;
    }

    .btn-icon {
      opacity: 0.25;
      transition: opacity 150ms;
      width: 100%;
      height: 100%;
      display: inline-block;
      background: transparent url('../img/icon-pin.svg') no-repeat center center;
      background-size: contain;
    }

    &:hover .btn-icon {
      opacity: 1;
    }
  }
}

.msg-pinned {
  background-color: $color-chat-emphasize;
  padding-top: $gutter-md;
  padding-bottom: $gutter-md;
  border-style: solid;
  border-radius: 10px;
  border-color: #505050;
  transition: all 0.15s ease-in-out;

  &:hover {
    border-color: $color-chat-text3;
  }

  .user {
    text-shadow: none;
  }

  .chat-tool-btn {
    width: 1.5em;
    height: 1.5em;
    cursor: pointer;
    color: $color-chat-disabled;
    position: relative;
    text-decoration: none;
    float: right;

    .btn-icon {
      opacity: 0.25;
      transition: opacity 150ms;
      width: 100%;
      height: 100%;
      display: inline-block;

      @at-root #close-pin-btn .btn-icon {
        background: transparent url('../img/icon-close.svg') no-repeat center
          center;
        background-size: contain;
      }

      @at-root #unpin-btn .btn-icon {
        background: transparent url('../img/icon-unpin.svg') no-repeat center
          center;
        background-size: contain;
      }
    }

    &:hover,
    &.active {
      .btn-icon {
        opacity: 1;
      }
    }
  }

  &.hidden {
    display: none;
  }
}
