@use '../../abstracts/' as a;

.msg-death {
  .text {
    font-style: italic;
  }

  .user:before {
    content: '';
    display: inline-block;
    vertical-align: text-top;
    margin-right: a.$gutter-sm;

    @include a.msg-icon(-32px, -0px);
  }
}

.watching-focus:not(.focus) {
  .msg-death {
    opacity: 0.3;

    &.watching-same,
    &.msg-highlight {
      opacity: 1;
    }
  }
}
