@use '../../abstracts/' as a;

.msg-death {
  color: a.$win95-text-disabled;
  font-style: italic;

  .chat-user {
    display: none;
  }
}

.watching-focus:not(.focus) {
  .msg-death {
    opacity: 0.3;

    &.watching-same,
    &.msg-highlight {
      opacity: 1;
    }
  }
}
