@use '../../abstracts/' as a;

@use 'death';
@use 'whisper';

.msg-user {
  .features {
    display: inline-flex;
    vertical-align: text-top;
    align-items: center;
    margin-left: -(a.$gutter-xs);
  }

  .flair {
    cursor: pointer;
    margin-left: a.$gutter-xs;
  }
}

.pref-hideflairicons .features {
  display: none;
}

.onstreamchat {
  .msg-user {
    animation: msg-slide-in 0.15s cubic-bezier(0.72, 0.03, 0.45, 1);
  }

  .features {
    display: none !important;
  }
}

@keyframes msg-slide-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
