@use '../../abstracts/' as a;

.msg-whisper {
  background-color: transparent;

  a.user {
    background: transparent;
    padding: 0;
    border-radius: 0;
    font-weight: bold;
    color: a.$win95-highlight;

    &:hover {
      text-decoration: underline;
      color: a.$win95-highlight;
      background: transparent;
    }
  }
}
