@use '../abstracts/' as a;

#chat-emote-list {
  .content {
    text-align: center;
    outline: 0;
  }

  #chat-emote-list-search {
    padding: 4px 6px;

    label {
      display: block;
      font-family: 'MSSansSerif', sans-serif;
      font-size: 11px;
      color: a.$win95-text;
      margin-bottom: 2px;
    }

    input {
      padding: 3px;
      border: none;
      background: a.$win95-input-bg;
      border-radius: 0;
      color: a.$win95-text;
      font-family: 'MSSansSerif', sans-serif;
      font-size: 11px;
      @include a.win95-sunken;
    }
  }
}

.emote-section {
  position: relative;
  border: 1px solid a.$win95-white;
  outline: 1px solid a.$win95-darkgrey;
  padding: 8px 5px 5px;
  margin: 16px 8px 8px;

  .emote-section-title {
    position: absolute;
    top: -8px;
    left: 6px;
    padding: 0 4px;
    background-color: a.$win95-bg;
    font-family: 'MSSansSerif', sans-serif;
    font-size: 11px;
    color: a.$win95-text;
    font-weight: bold;
  }
}

.emote-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 4px;
}

.favorite-emote {
  position: relative;
}

.favorite-emote:after {
  content: url('../img/icon-pin.svg');
  position: absolute;
  width: 1em;
  height: 1em;
  right: -0.5em;
  top: -0.5em;
  transform: rotate(45deg);
}

.emote-item {
  user-select: none;
  padding: a.$gutter-sm;
  margin: auto;

  .emote {
    cursor: pointer;
  }
}
