@use '../abstracts/' as a;

#event-action-menu {
  height: fit-content;
  width: fit-content;
  min-width: 75px;
  max-width: 250px;
  z-index: 221;

  .event-action {
    transition: background-color 150ms ease;
    color: a.$win95-text;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: a.$win95-highlight;
      color: a.$win95-highlight-text;
    }
  }
}
