@use '../abstracts/' as a;

@use 'emote-list';
@use 'emote-tooltip';
@use 'poll';
@use 'settings';
@use 'user-info';
@use 'user-list';
@use 'whispers-list';
@use 'event-action-menu';

.chat-menu {
  display: none;
  position: absolute;
  z-index: 220;
  height: auto;
  bottom: 6.3em;
  max-width: 75%;
  min-width: a.$chat-min-width;
  width: 33.3333%;
  right: 0;
  top: 0;

  &.active {
    display: block;
  }

  .chat-menu-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: a.$win95-bg;
    padding: 3px;
    font-family: 'MSSansSerif', sans-serif;
    font-size: 11px;
    @include a.win95-raised;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }

  &.left {
    left: 0;
    right: auto;
  }

  &.right {
    right: 0;
    left: auto;
  }

  .floating-window {
    height: fit-content !important;
  }

  .scrollable {
    flex: 1;
    height: 100%;
  }
}

.toolbar {
  position: relative;
  border-bottom: 1px solid a.$win95-bg;
  background: linear-gradient(
    to right,
    a.$win95-highlight,
    a.$win95-highlight-light
  );
  top: auto;
  left: auto;

  h5 {
    justify-content: space-between;
    padding: 3px 3px 2px;
    font-family: 'MSSansSerif', sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: a.$win95-highlight-text;
    align-items: center;
    user-select: none;
    display: flex;
    margin: 0;
    letter-spacing: 1px;
  }

  span {
    line-height: 1.25em;
    display: inline-block;

    &::before {
      content: '';
      display: inline-block;
      width: 14px;
      height: 16px;
      margin-right: 3px;
      vertical-align: middle;
      background: url('../img/aim-icon.png') no-repeat center / contain;
      image-rendering: pixelated;
    }
  }

  .chat-menu-close {
    width: 16px;
    height: 14px;
    min-width: 16px;
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    background-color: a.$win95-bg-alt;
    border: none;
    outline: 0;
    padding: 0;
    image-rendering: pixelated;
    background-image: url('data:image/gif;base64,R0lGODlhDQALAJEAAAAAAP///////wAAACH5BAEAAAIALAAAAAANAAsAAAIUlI+pKwDoVGxvucmwvblqo33MqBQAOw==');
    background-repeat: no-repeat;
    background-position: 1px 1px;
    @include a.win95-button-raised;

    &:active {
      @include a.win95-button-pressed;
      padding: 2px 8px 1px 4px;
      background-position: 2px 2px;
    }
  }
}
