@use '../abstracts/' as a;

$toolbar-icons-map: (
  'mute': 'mute',
  'ban': 'ban',
  'logs': 'logs',
  'whisper': 'whispers',
  'ignore': 'ignore',
  'unignore': 'unignore',
  'rustle': 'rustle',
  'admin': 'settings',
);

#chat-user-info {
  height: fit-content;
  bottom: unset;
  min-width: 250px;
  max-width: 350px;

  .floating-window {
    @include a.win95-raised;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0;
  }

  .user-info h5 {
    padding-left: a.$gutter-md;
    margin-top: unset;
    margin-bottom: unset;
    color: a.$win95-text;
    border-bottom: none;
    @include a.win95-divider;
  }

  .stalk {
    height: 100px;

    .scrollable {
      background: a.$win95-input-bg;
      color: a.$win95-text;
      @include a.win95-sunken;
    }
  }

  .chat-tool-btn {
    &:hover,
    &.active {
      .btn-icon {
        opacity: 1;
      }
    }

    width: 2.75em;
    height: 2.75em;

    @each $id, $icon in $toolbar-icons-map {
      &##{$id}-user-btn .btn-icon {
        @include a.icon-background('../img/icon-#{$icon}.svg');
        filter: brightness(0);
      }
    }
  }

  .hidden {
    display: none !important;
  }
}

.action-buttons {
  margin: a.$gutter-md 0 a.$gutter-md 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#action-durations {
  height: calc(20px + 2 * a.$gutter-md);
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 1.2em;

  .ban-duration-button,
  .mute-duration-button {
    opacity: 0.25;
    transition: opacity 150ms;
    color: a.$win95-text;
    width: 100%;

    &:hover {
      opacity: 1;
    }
  }
}
