@use '../abstracts/' as a;

#chat-whisper-users {
  .scrollable {
    background: a.$win95-input-bg;
    margin: 4px;
    @include a.win95-sunken;
  }

  .content > ul {
    margin: 0;
    padding: 4px 0 0 2px;
    list-style: none;
  }

  .whisper-section {
    list-style: none;

    .whisper-section-title {
      position: relative;
      padding: 3px 4px 3px 18px;
      font-weight: bold;
      color: a.$win95-text;
      margin: 0;
      cursor: default;

      &::before {
        content: '';
        position: absolute;
        top: 7px;
        left: 4px;
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 5px solid #2f2f2f;
      }
    }

    .whisper-section-users {
      margin-left: 20px;
    }
  }

  .conversation {
    padding: 2px 4px 2px 15px;
    cursor: default;
    display: flex;
    align-items: center;

    .user {
      color: a.$win95-text;
      text-decoration: none;
      display: block;
      cursor: default;
    }
  }

  .empty {
    color: a.$win95-text;
    margin: a.$gutter-lg;
  }
}
