@use '../abstracts/' as a;

#chat-whisper-users {
  .section {
    margin-block: 1.5em 0.5em;

    &__title {
      padding: 0em 0em 0.2em 1em;
      font-weight: 600;
      border-bottom: 1px solid;
    }
  }

  .conversation {
    cursor: pointer;
    padding-inline: a.$gutter-lg;
    align-items: center;
    display: flex;

    &__online-icon {
      width: 8px;
      height: 8px;
      margin-right: a.$gutter-sm;
      border-radius: 100%;
    }

    &__username {
      flex: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__unread {
      white-space: nowrap;
      font-size: 0.8rem;
      padding-inline: a.$gutter-md;
      background: a.$color-surface-dark4;
      border-radius: 1rem;
      margin-block: a.$gutter-xs;
      color: a.$color-chat-text2;
      margin-inline-end: a.$gutter-md;
    }

    &__time {
      white-space: nowrap;
    }

    &--online {
      .conversation {
        &__online-icon {
          background-color: a.$color-green;
        }
      }
    }

    &--offline {
      .conversation {
        &__online-icon {
          background-color: a.$color-black;
        }
      }
    }

    &:hover {
      background: #282828;
    }
  }

  &.search-in .conversation {
    display: none;

    &.found {
      display: flex;
    }
  }

  input {
    padding: a.$gutter-lg a.$gutter-lg;
    border: none;
    background: none;
    border-radius: 0;
  }
}
