#chat-user-info {
  height: fit-content;
  bottom: unset;
  min-width: 250px;
  max-width: 350px;

  .floating-window {
    box-shadow: 0px 0px 6px black;
    border-radius: 6px;
  }

  .user-info h5 {
    padding-left: $gutter-md;
    margin-top: unset;
    margin-bottom: unset;
    border-bottom: 1px solid $color-surface-dark4;
  }

  .flairs {
    margin-top: $gutter-lg;
    margin-bottom: $gutter-lg;
    padding-left: $gutter-md;
  }

  .features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    margin-left: -0.2em;
  }

  .stalk {
    height: 100px;

    .scrollable {
      background: $color-chat-bg;
    }
  }

  .action-buttons {
    margin: $gutter-md 0 $gutter-md 0;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
  }

  .chat-tool-btn {
    width: 2.25em;
    height: 2.25em;
    cursor: pointer;
    color: $color-chat-disabled;
    position: relative;
    text-decoration: none;
    display: inline-block;
    border: 0.35em solid transparent;

    .btn-icon {
      opacity: 0.25;
      transition: opacity 150ms;
      width: 100%;
      height: 100%;
      display: inline-block;

      @at-root #mute-user-btn .btn-icon {
        background: transparent url('../img/icon-mute.svg') no-repeat center
          center;
        background-size: contain;
      }

      @at-root #ban-user-btn .btn-icon {
        background: transparent url('../img/icon-ban.svg') no-repeat center
          center;
        background-size: contain;
      }

      @at-root #logs-user-btn .btn-icon {
        background: transparent url('../img/icon-logs.svg') no-repeat center
          center;
        background-size: contain;
      }

      @at-root #whisper-user-btn .btn-icon {
        background: transparent url('../img/icon-whispers.svg') no-repeat center
          center;
        background-size: contain;
      }

      @at-root #ignore-user-btn .btn-icon {
        background: transparent url('../img/icon-ignore.svg') no-repeat center
          center;
        background-size: contain;
      }

      @at-root #unignore-user-btn .btn-icon {
        background: transparent url('../img/icon-unignore.svg') no-repeat center
          center;
        background-size: contain;
      }
    }

    &:hover,
    &.active {
      .btn-icon {
        opacity: 1;
      }
    }
  }

  #action-durations {
    height: calc(20px + 2 * $gutter-md);
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 1.2em;
  }

  .ban-duration-button,
  .mute-duration-button {
    opacity: 0.25;
    transition: opacity 150ms;
    color: white;
    width: 100%;

    &:hover {
      opacity: 1;
    }
  }

  .hidden {
    display: none !important;
  }
}
