@use '../abstracts/' as a;

@use 'autocomplete';
@use 'input';
@use 'loading-screen';
@use 'login-screen';
@use 'output';
@use 'scroll-notify';
@use 'scrollbar-theme';
@use 'toolbar';
@use 'window-select';
@use 'event-bar';

#chat {
  min-width: a.$chat-min-width;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.onstreamchat {
  #chat {
    background: none !important;
  }
}
