@use '../abstracts/' as a;

#chat-output-frame {
  flex: 1;
  overflow: hidden;
  width: 100%;
}

.chat-output {
  width: 100%;
  height: 100%;
}

.chat-lines {
  font-family: a.$chat-lines-font;
  line-height: 1.65em;
  outline: 0 !important;
}

.onstreamchat {
  .chat-lines {
    font-size: 1.5em;
    font-family: 'Roboto', Helvetica, 'Trebuchet MS', Verdana, sans-serif;
    font-weight: 500 !important;
    color: a.$text-color;
  }

  #chat-output-frame {
    margin: 0;
  }
}
