@use '../abstracts/' as a;

@font-face {
  font-family: 'Among Us';
  src: url('../../../fonts/AmongUs-Regular.ttf') format('truetype');
}

#chat-output-frame {
  flex: 1;
  overflow: hidden;
  width: 100%;
}

.chat-output {
  width: 100%;
  height: 100%;
}

.chat-lines {
  font-family: a.$chat-lines-font;
  line-height: 1.65em;
  outline: 0 !important;
}
