@use '../abstracts/' as a;

.chat-scroll-notify {
  padding: 2px 8px;
  color: a.$win95-text;
  background: a.$win95-bg;
  font-family: 'MSSansSerif', sans-serif;
  font-size: 11px;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
  z-index: 130;
  border-radius: 0;
  display: none;
  @include a.win95-button-raised;

  .chat-unpinned & {
    display: block;
  }

  #chat.chat-autocomplete-in & {
    display: none !important;
  }
}
