.dgg-scroller-theme.os-scrollbar-horizontal {
  right: 10px;
  height: 10px;
}

.dgg-scroller-theme.os-scrollbar-vertical {
  bottom: 10px;
  width: 10px;
}

.dgg-scroller-theme.os-scrollbar-rtl.os-scrollbar-horizontal {
  left: 10px;
  right: 0;
}

.dgg-scroller-theme.os-scrollbar {
  padding: 2px;
  box-sizing: border-box;
  background: transparent;
}

.dgg-scroller-theme.os-scrollbar-unusable {
  background: transparent;
}

.dgg-scroller-theme.os-scrollbar > .os-scrollbar-track {
  background: transparent;
}

.dgg-scroller-theme.os-scrollbar-horizontal
  > .os-scrollbar-track
  > .os-scrollbar-handle {
  min-width: 30px;
}

.dgg-scroller-theme.os-scrollbar-vertical
  > .os-scrollbar-track
  > .os-scrollbar-handle {
  min-height: 30px;
}

.dgg-scroller-theme.os-scrollbar-transition
  > .os-scrollbar-track
  > .os-scrollbar-handle {
  transition: background-color 0.3s;
}

.dgg-scroller-theme.os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background: rgba(255, 255, 255, 0.4);
}

.dgg-scroller-theme.os-scrollbar:hover
  > .os-scrollbar-track
  > .os-scrollbar-handle {
  background: rgba(255, 255, 255, 0.55);
}

.dgg-scroller-theme.os-scrollbar
  > .os-scrollbar-track
  > .os-scrollbar-handle.active {
  background: rgba(255, 255, 255, 0.7);
}

.dgg-scroller-theme.os-scrollbar-horizontal .os-scrollbar-handle:before,
.dgg-scroller-theme.os-scrollbar-vertical .os-scrollbar-handle:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
}

.dgg-scroller-theme.os-scrollbar-horizontal .os-scrollbar-handle:before {
  top: -6px;
  bottom: -2px;
}

.dgg-scroller-theme.os-scrollbar-vertical .os-scrollbar-handle:before {
  left: -6px;
  right: -2px;
}

.dgg-scroller-theme.os-scrollbar-rtl.os-scrollbar-vertical
  .os-scrollbar-handle:before {
  right: -6px;
  left: -2px;
}
