@use '../abstracts/' as a;

$toolbar-icons-map: (
  'emoticon': 'emotes',
  'whisper': 'whispers',
  'watching-focus': 'watching',
  'settings': 'settings',
  'users': 'users',
);

#chat-tools-wrap {
  display: flex;
  position: relative;
  user-select: none;
  margin: 0 -0.25em;
}

.chat-tools-group {
  display: flex;

  &:first-child {
    flex: 1;
  }
}

.chat-tool-btn {
  @each $id, $icon in $toolbar-icons-map {
    &#chat-#{$id}-btn .btn-icon {
      @include a.icon-background('../img/icon-#{$icon}.svg');
    }
  }

  &#chat-emoticon-btn .btn-icon {
    width: 17px;
    height: 23px;
    @include a.icon-background('../img/aim-add_buddy.png');
    filter: none;
    image-rendering: pixelated;
  }
  &#chat-emoticon-btn:hover .btn-icon {
    @include a.icon-background('../img/aim-add_buddy_hover.png');
    filter: none;
  }

  &#chat-whisper-btn .btn-icon {
    width: 19px;
    height: 20px;
    @include a.icon-background('../img/aim-new_im.png');
    filter: none;
    image-rendering: pixelated;
  }
  &#chat-whisper-btn:hover .btn-icon {
    @include a.icon-background('../img/aim-new_im_hover.png');
    filter: none;
  }

  &#chat-users-btn .btn-icon {
    width: 22px;
    height: 22px;
    @include a.icon-background('../img/aim-group_im.png');
    filter: none;
    image-rendering: pixelated;
  }
  &#chat-users-btn:hover .btn-icon {
    @include a.icon-background('../img/aim-group_im_hover.png');
    filter: none;
  }

  &#chat-settings-btn .btn-icon {
    width: 22px;
    height: 16px;
    @include a.icon-background('../img/aim-get_info.png');
    filter: none;
    image-rendering: pixelated;
  }
  &#chat-settings-btn:hover .btn-icon {
    @include a.icon-background('../img/aim-get_info_hover.png');
    filter: none;
  }
}

#chat-send-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.send-progress-bar {
  display: flex;
  width: 48px;
  height: 8px;
  border-top: 1px solid #a0a0a0;
  border-left: 1px solid #a0a0a0;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  margin-top: 2px;
  background: black;
  padding: 1px;
  gap: 1px;

  i {
    width: 2px;
    height: 100%;
    background-color: red;

    &.y {
      background-color: yellow;
    }

    &.g {
      background-color: green;
    }
  }
}

#chat-send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 2px;
  image-rendering: pixelated;

  .send-icon {
    display: block;
    width: 30px;
    height: 34px;
    background: url('../img/aim-send_active.png') no-repeat center / contain;
  }

  &:hover .send-icon {
    background-image: url('../img/aim-send_hover.png');
  }
}

#chat-whisper-unread-indicator {
  left: 100%;
  color: a.$win95-text;
  font-family: 'MSSansSerif', sans-serif;
  font-size: 11px;
  position: absolute;
  vertical-align: text-bottom;
  margin-left: 4px;
  top: 6px;
}
