@use '../abstracts/' as a;

#chat-windows-select {
  background: a.$win95-bg;
  white-space: nowrap;
  display: flex;
  align-items: flex-end;
  z-index: 100;
  padding: 4px 4px 0;
}

.win-main {
  flex-shrink: 0;

  .tab-close {
    display: none !important;
  }

  .dgg-icon {
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 3px;
    vertical-align: -1px;
    background: url('../img/aim-icon.png') no-repeat center / contain;
    image-rendering: pixelated;
  }
}

.tab {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 0;
  color: a.$win95-text;
  user-select: none;
  cursor: pointer;
  font-family: 'MSSansSerif', sans-serif;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 8px;
  background-color: a.$win95-bg;
  border: 1px solid a.$win95-black;
  border-bottom: none;
  margin-right: -1px;
  position: relative;

  box-shadow:
    inset 1px 1px 0 a.$win95-white,
    inset -1px 0 0 a.$win95-darkgrey;

  &.active {
    color: a.$win95-text;
    background: a.$win95-bg;
    overflow: visible;
    text-overflow: unset;
    min-width: auto;
    display: flex;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 5px;
    margin-bottom: -1px;
    z-index: 1;

    .tab-close {
      display: inline-block;
    }
  }

  &:not(.active) {
    padding-top: 3px;
    margin-top: 3px;
    background-color: a.$win95-bg-alt;
    color: a.$win95-text;
  }

  &:hover,
  &.unread {
    color: a.$win95-text;
  }
}

.tab-close {
  width: 8px;
  height: 8px;
  margin-left: 6px;
  display: none;
  filter: brightness(0);

  @include a.icon-background('../img/icon-close.svg');

  &:hover {
    filter: brightness(0) contrast(2);
  }
}
