@use '../../abstracts/' as a;

#chat-pinned-message {
  display: none;
  position: absolute;
  left: 4px;
  right: 20px;
  z-index: 210;
  padding: 4px;

  &.active {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

#chat-pinned-show-btn {
  display: none;
}

.onstreamchat {
  #chat-pinned-message {
    display: none !important;
  }
}
