@import './common';
@import '../../icons/icons';
@import '~normalize.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700');

@import './autocomplete';
@import './chat';
@import './focus';
@import './onstreamchat';
@import './poll';
@import './scroll';
@import './window';

@import './menus/ChatEmoteMenu';
@import './menus/ChatEmoteTooltip';
@import './menus/ChatMenu';
@import './menus/ChatSettingsMenu';
@import './menus/ChatUserInfoMenu';
@import './menus/ChatUserMenu';
@import './menus/ChatWhisperUsers';
@import './menus/common';

@import './messages/ChatEmoteMessage';
@import './messages/ChatMessage';
@import './messages/ChatPinnedMessage';
@import './messages/ChatUIMessage';
@import './messages/ChatUserMessage';
@import './messages/MessageTypes';

@font-face {
  font-family: 'Among Us';
  src: url('../../../fonts/AmongUs-Regular.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  color: $text-color1;
  background: $color-chat-bg;
  font-family: $chat-chrome-font;
  font-size: 13px;
  line-height: 1.42857143;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern';
}
textarea,
input,
button {
  font-size: 1em;
  line-height: 1.42857143;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern';
  font-family: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: $color-accent;
  text-decoration: none;
}
a:hover,
a:focus {
  color: $color-accent-light;
  text-decoration: underline;
}
hr {
  border: 0;
  margin: 1em 0;
  border-top: 1px solid darken($color-surface-dark1, 50%);
  border-bottom: 1px solid $color-surface-dark3;
}
