@import "../../common";
@import "../../icons/icons";

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,600,700");

*, *::before, *::after { box-sizing: inherit; }
html { box-sizing: border-box; }

$chat-chrome-font: "Roboto", Helvetica, "Trebuchet MS", Verdana, sans-serif;
$chat-lines-font: "Roboto", Helvetica, "Trebuchet MS", Verdana, sans-serif;
$chat-min-width: 300px;

$gutter-xs: 0.2em;
$gutter-sm: 0.3em;
$gutter-md: 0.6em;
$gutter-lg: 0.9em;

$bradius: 0.25em;

html, body {
    position: relative;
    color: $text-color1;
    background: $color-chat-bg;
    font-family: $chat-chrome-font;
    font-size: 13px;
    line-height: 1.42857143;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
}
textarea, input, button {
    font-size: 1em;
    line-height: 1.42857143;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern";
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Small screen, non-retina */
@media only screen and (min-width: 320px) {
    body:not(.pref-fontscale) {
        font-size: 13px;
    }
}

/* Small screen, retina, stuff to override above media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 320px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (min-resolution: 192dpi) and (min-width: 320px),
only screen and (min-resolution: 2dppx) and (min-width: 320px) {
    body:not(.pref-fontscale) {
        font-size: 13px;
    }
}

/* Medium screen, non-retina */
@media only screen and (min-width: 700px) {
    body:not(.pref-fontscale) {
        font-size: 14px;
    }
}

/* Medium screen, retina, stuff to override above media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 700px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 700px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 700px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 700px),
only screen and (min-resolution: 192dpi) and (min-width: 700px),
only screen and (min-resolution: 2dppx) and (min-width: 700px) {
    body:not(.pref-fontscale) {
        font-size: 15px;
    }
}

/* Large screen, non-retina */
@media only screen and (min-width: 1300px) {
    body:not(.pref-fontscale) {
        font-size: 16px;
    }
}

/* Large screen, retina, stuff to override above media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1300px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1300px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1300px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 1300px),
only screen and (min-resolution: 192dpi) and (min-width: 1300px),
only screen and (min-resolution: 2dppx) and (min-width: 1300px) {
    body:not(.pref-fontscale) {
        font-size: 16px;
    }
}

body.pref-fontscale[data-fontscale="small"] {
    font-size: 14px;
}
body.pref-fontscale[data-fontscale="medium"] {
    font-size: 15px;
}
body.pref-fontscale[data-fontscale="large"] {
    font-size: 16px;
}

a {
    color: $color-accent;
    text-decoration: none;
}
a:hover, a:focus {
    color: $color-accent-light;
    text-decoration: underline;
}
hr {
    border: 0;
    margin: 1em 0;
    border-top: 1px solid darken($color-surface-dark1, 50%);
    border-bottom: 1px solid $color-surface-dark3;
}

/* Layout */
#chat {
    min-width: $chat-min-width;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
}
#chat-output-frame {
    flex: 1;
    overflow: hidden;
    width: 100%;
}
.chat-output {
    width: 100%;
    height: 100%;
}
#chat-input-frame {
    padding: $gutter-md $gutter-md 0 $gutter-md;
}
#chat-input-wrap {
    position: relative;
}
#chat-tools-wrap {
    display: flex;
    position: relative;
    user-select: none;
}

#chat-input-control {
    height: 4em;
    position: relative;
    color: $color-chat-text2;
    background: $color-surface-dark2;
    border: 1px solid $color-surface-dark3;
    outline: none;
    resize: none;
    margin: 0;
    width: 100%;
    padding: $gutter-md;
    border-radius: $bradius;
    box-shadow: none;
    box-sizing: border-box;
    display: block;
}
#chat-input-control::placeholder {
    color: $color-chat-place;
}
.chat-lines {
    font-family: $chat-lines-font;
    line-height: 1.5em;
    backface-visibility: hidden;
    perspective: 1000px;
    outline: 0 !important;
}

/* Toolbar */
@keyframes whisper-pulse {
    0% {
        color: white;
        background: rgba(255,255,255,0.4);
        box-shadow: 0 0 0 0 rgba(255,255,255,0.4);
    }
    70% {
        background:none;
        box-shadow: 0 0 0 10px rgba(255,255,255,0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(255,255,255,0);
    }
}

.chat-tool-btn {
    font-size: 1.5em;
    cursor: pointer;
    color: $color-chat-disabled;
    position: relative;
    text-decoration: none;
    padding: 0 $gutter-sm;
}
.chat-tool-btn.ping {
    animation: whisper-pulse 2s 1;
}
.chat-tool-btn:hover,
.chat-tool-btn.active {
    color: $color-chat-text1;
}

#chat-whisper-unread-indicator {
    left: 100%;
    color: $color-light;
    font-size: 0.9em;
    position: absolute;
    vertical-align: text-bottom;
    margin-left: $gutter-lg;
}

/* Base ChatMessage */
.msg-chat {
    word-wrap: break-word;
    padding: $gutter-xs $gutter-md*2 $gutter-xs $gutter-md;
    color: $color-chat-text2;
    .time {
        font-size: 0.8em;
        color: $color-chat-disabled;
        padding-right: $gutter-sm;
        display: none; /* hidden by default */
    }
    .user {
        font-weight: 500;
        cursor: pointer;
        padding-left: $gutter-sm;
        color: $color-label-user;
    }
    .chat-user {
        cursor: pointer;
        position: relative;
        z-index: 120;
    }
    .chat-user:hover {
        text-decoration: underline;
    }
    .greentext {
        color: $color-green-text;
    }
    .externallink {
        border-style: solid;
        border-color: transparent;
        border-width: 1px 0 1px 0;
    }
    .externallink {
        color: $color-link;
        position: relative;
        z-index: 120;
    }
    .externallink:visited {
        color: $color-link-visited;
    }
    .externallink:hover,
    .externallink:focus {
        color: $color-link-hover;
    }
    .nsfw-link {
        border-style: dashed;
        border-color: transparent transparent $color-underline-nsfw transparent;
        border-width: 1px 0 1px 0;
    }
    .nsfl-link {
        border-style: dashed;
        border-color: transparent transparent $color-underline-nsfl transparent;
        border-width: 1px 0 1px 0;
    }
}

/* Base ChatUserMessage */
.msg-user .features {
    display: inline-flex;
    vertical-align: text-top;
    align-items: center;
    margin-left: -$gutter-xs;
    .flair {
        margin-left: $gutter-xs;
    }
}

/* Status messages */
.msg-status,
.msg-command,
.msg-error,
.msg-info {
    white-space: pre-wrap;
}
.msg-status,
.msg-command,
.msg-error {
    color: $color-chat-text1;
}
.msg-status .text:before,
.msg-command .text:before,
.msg-info .text:before,
.msg-error .text:before {
    content: '';
    display: inline-block;
    vertical-align: text-top;
    margin-right: $gutter-sm;
}
.msg-status .text:before {
    @extend .icon-status;
}
.msg-command .text:before {
    @extend .icon-command;
}
.msg-info .text:before {
    @extend .icon-info;
}
.msg-error .text:before {
    @extend .icon-error;
}

/* Own messages */
.msg-own {
    background-color: $color-chat-emphasize;
    color: $color-chat-text1;
}

/* Emote combo / message */
.msg-emote .emote {
    vertical-align: baseline;
}

/* Censored */
.censored {
    .text {
        display: none;
    }
    .ctrl {
        display: inline-block;
    }
    .ctrl:after {
        color: $color-accent;
        cursor: pointer;
        padding-left: $gutter-md;
        content: '<censored>';
    }
    .ctrl:hover:after {
        color: $color-accent-light;
    }
}

/* Continue */
.msg-continue .text:before {
    color: $color-chat-disabled;
    content: '> ';
}
.msg-continue .features,
.msg-continue .user {
    display: none;
}

.msg-status.msg-continue .text:before,
.msg-command.msg-continue .text:before,
.msg-info.msg-continue .text:before,
.msg-error.msg-continue .text:before,
.msg-broadcast.msg-continue .text:before {
    content: '';
}

/* /ME message */
.msg-me .text {
    font-style: italic;
}

/* Whispers */
.msg-whisper {
    background-color: $color-chat-emphasize;
}
.msg-whisper a.user {
    background: $color-accent;
    padding: $gutter-xs $gutter-md $gutter-xs $gutter-md;
    border-radius: $bradius;
    font-weight: normal;
    color: white;
}
.msg-whisper a.user:hover {
    text-decoration: none;
    color: $color-accent;
    background: white;
}

/* Tagging */
.msg-tagged {
    position: relative;
    padding-left: $gutter-md;
}
.pref-taggedvisibility .msg-tagged {
    background-color: $color-chat-tagged;
}
.msg-tagged:before {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    min-width: $gutter-md;
    display: block;
    background: $color-black;
    content: '';
}
.msg-tagged-green:before {
    background-color: $color-green;
}
.msg-tagged-yellow:before {
    background-color: $color-yellow;
}
.msg-tagged-orange:before {
    background-color: $color-orange;
}
.msg-tagged-red:before {
    background-color: $color-red;
}
.msg-tagged-purple:before {
    background-color: $color-purple;
}
.msg-tagged-blue:before {
    background-color: $color-blue;
}
.msg-tagged-sky:before {
    background-color: $color-sky;
}
.msg-tagged-lime:before {
    background-color: $color-lime;
}
.msg-tagged-pink:before {
    background-color: $color-pink;
}
.msg-tagged-black:before {
    background-color: $color-black;
}

/* Historical messages */
.msg-historical {
    color: $text-color1;
}
.msg-historical:before {
    background: none !important;
}
.msg-historical .time {
    display: inline !important;
}
.chat-output:not(.chat-win-main) {
    .msg-historical {
        background-color: $color-chat-emphasize;
        color: $color-chat-text1;
    }
    .msg-historical.msg-own {
        background: none !important;
        color: $color-chat-text2;
    }
}

/* Broadcasts */
.msg-broadcast {
    text-shadow: 1px 1px 3px rgba(0,0,0,1);
    background-color: $color-chat-emphasize;
    color: $color-text-broadcast !important;
    font-size: 1.1em;
    font-weight: 400;
    padding-top: $gutter-md;
    padding-bottom: $gutter-md;
    time {
        margin-right: $gutter-md;
    }
}

/* Highlight */
.msg-highlight {
    color: $color-chat-text1;
    background-color: $color-chat-highlight;
    time, .continue {
        color: $color-chat-text3;
    }
}
.pref-taggedvisibility .msg-highlight {
    background-color: $color-chat-highlight;
}

/* Focus or highlight a line */
.focus-user .msg-chat {
    opacity:0.3;
}

/* Emotes and combo */
@keyframes emote-hit {
    0% { color: #B91010; font-size:200%; }
    1% { color: $color-light; font-size:190%; }
    2% { color: #B91010; font-size:200%; }
    3% { color: $color-light; font-size:190%; }
    4% { color: #B91010; font-size:200%; }
    100% { color: $color-light; font-size:120%; }
}
@keyframes emote-complete {
    0% { transform: translate(-10px, 0); opacity: 0; }
    2% { transform: translate(10px, 0); color: white; opacity: 1; }
    100% { transform: translate(0, 0); opacity: 1; }
}
@keyframes emote-greyout {
    0% { filter: grayscale(0) }
    75% { filter: grayscale(0) }
    100% { filter: grayscale(100%) }
}
.emote {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 0.6em;
    margin: 0 $gutter-xs;
    overflow: hidden;
    text-indent: -999em;
    padding-left: $gutter-sm;
}
.chat-combo {
    color: $color-chat-text1;
    display: inline-block;
    position: relative;
    line-height: 2em;
    padding-left: $gutter-md;
    i {
        font-style: normal;
        display: inline-block;
        vertical-align: middle;
    }
    .hit, .combo, .count, .x {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
    .combo {
        display: none;
        color: $text-color1;
        font-weight: normal;
    }
    .hit {
        color: $color-light;
        animation: emote-hit 600ms 1;
        font-style: italic;
        text-transform: uppercase;
        margin-left: 0;
        letter-spacing: 0.05em;
        display: inline-block;
    }
    .count {
        font-size: 1.15em;
        letter-spacing: -0.05em;
        font-weight: bold;
    }
    &.x5 {
        .count { font-size: 150%; }
    }
    &.x10 {
        .count { font-size: 200%; }
        .combo { font-weight: bold; }
    }
    &.x20 {
        .count { font-size: 300%; }
        .combo { font-weight: bold; }
    }
    &.x30 {
        .count { font-size: 400%; }
        .combo { font-weight: bold; }
    }
    &.x50 {
        .count { font-size: 500%; }
        .combo { font-weight: bold; }
    }
    &.combo-complete {
        &.x10, &.x20, &.x30, &.x50 {
            animation: emote-greyout 3500ms 1;
            background: transparent url("../img/emote-splat.png") no-repeat center center;
            background-size: 100% 100%;
            filter: grayscale(100%);
            .combo {
                color: $color-light;
                margin-left: $gutter-md;
            }
        }
        .combo {
            animation: emote-complete 1000ms 1;
            display: inline-block;
        }
        .hit {
            display: none;
        }
    }
}

/* Helpers */
.chat-scroll-notify {
    padding: 0.25em 0;
    color: $color-chat-text3;
    background: $color-surface-dark3;
    position: absolute;
    bottom: -2.5em;
    left: $gutter-md;
    right: $gutter-md;
    text-align: center;
    cursor: pointer;
    z-index: 130;
    border-radius: $bradius;
    transition: bottom 250ms;
    transition-timing-function: cubic-bezier(0.6, 0.08, 0.99, 0.54);
}
.chat-scroll-notify:hover {
    color: $color-chat-text1;
}
.chat-unpinned .chat-scroll-notify {
    transition-timing-function: cubic-bezier(0, 0.99, 0.18, 0.99);
    bottom: 0;
}
#chat.chat-autocomplete-in {
    .chat-scroll-notify {
        display: none !important;
    }
    #chat-input-control {
        border-radius: 0 0 $bradius $bradius;
    }
}

/* Auto complete */
#chat-auto-complete {
    pointer-events: none;
    transition: opacity 750ms;
    transition-timing-function: cubic-bezier(0, 0.74, 0.1, 0.99);
    opacity: 0;
    z-index: 131;
    border-radius: $bradius $bradius 0 0;
    position: absolute;
    font-size: 1.1em;
    line-height: 2em;
    height: 2em;
    top: -2em;
    left: 0;
    right: 0;
    overflow: hidden;
    white-space: nowrap;

    &.active {
        opacity: 1;
        pointer-events: auto;
    }

    ul {
        position: absolute;
        white-space: nowrap;
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        padding: 0 $gutter-sm;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        color: $color-chat-text3;
        background: rgba($color-surface-dark1,0.75);
        &:first-child {
            border-radius: $bradius 0 0 0;
        }
        &:last-child {
            border-radius: 0 $bradius 0 0;
        }
        &:hover {
            color: lighten($color-chat-text3,20);
        }
        &.active {
            color: $text-color;
        }
    }
}

/* Window selector */
#chat-windows-select {
    box-shadow: 0 2px 6px black;
    background: $color-surface-dark4;
    white-space: nowrap;
    display: flex;
    z-index: 100;
    .tab {
        min-width: 1em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        border-radius: $bradius $bradius 0 0;
        color: $color-chat-text3;
        user-select: none;
        cursor: pointer;
        font-size: 1em;
        line-height: 1.25em;
        padding: 0 $gutter-lg;
        margin-top: $gutter-md;
    }
    .fa-close {
        color: $color-chat-text3;
        margin-left: $gutter-md;
        display: none;
    }
    .fa-close:hover {
        color: $color-chat-text1;
    }
    .tab:hover,
    .tab.unread {
        color: $color-chat-text1;
    }
    .tab.active {
        color: $color-chat-text1;
        background: $color-surface-dark1;
        margin-left: 0;
        margin-right: 0;
        overflow: visible;
        text-overflow: unset;
        min-width: auto;
    }
    .tab.active .fa-close {
        display: inline-block;
    }
    .win-main .fa-close {
        display: none !important;
    }
    .win-main span {
        display: none;
    }
    .win-main {
        min-width: 3em;
    }
    .dgg-icon {
        margin-top: $gutter-md;
        background: url('../img/dgg-icon.svg');
        background-size: contain;
        display: block;
        width: 1.1em;
        height: 1.1em;
    }
}

/* Chat menus */
.chat-menu {
    display: none;
    position: absolute;
    z-index: 220;
    height: auto;
    bottom: 6.3em;
    max-width: 75%;
    min-width: $chat-min-width;
    width: 33.3333%;
    right: 0;
    top: 0;
    .toolbar {
        position: relative;
        border-bottom: 1px solid $color-surface-dark4;
        top: auto;
        left: auto;
        h5 {
            padding: $gutter-md;
            font-size: 1.1em;
            font-weight: normal;
            color: $text-color1;
            align-items: center;
            user-select: none;
            display: flex;
            margin: 0;
        }
        span {
            flex: 1;
            line-height: 1.25em;
            display: inline-block;
        }
        .menu-close {
            font-size: 1.2em;
            text-align: center;
            display: inline-block;
            &:hover {
                cursor: pointer;
                color: $color-light;
            }
        }
    }
    .list-wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: $color-surface-dark3;
    }
    .scrollable {
        flex: 1;
    }
    &.active {
        display: block;
    }
    &.left {
        left: 0;
        right: auto;
        .list-wrap {
            box-shadow: 2px -2px 12px 4px rgba(black,0.95);
            border-bottom-right-radius: $bradius;
        }
    }
    &.right {
        right: 0;
        left: auto;
        .list-wrap {
            box-shadow: -2px 2px 12px 4px rgba(black,0.95);
            border-bottom-left-radius: $bradius;
        }
    }
}

#chat-emote-list {
    .content {
        text-align: center;
        outline: 0;
    }
    .emote-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: $gutter-lg;
    }
    .emote-group:not(.disabled) .emote:hover {
        cursor: pointer;
    }
    .emote-item {
        user-select: none;
        padding: $gutter-md;
    }
}

#chat-whisper-users {
    .content > ul {
        margin: 0;
        padding: $gutter-md 0;
    }
    .conversation {
        list-style: none;
        position: relative;
        cursor: pointer;
        padding-left: $gutter-md;
        .user {
            color: $color-accent;
            display: block;
        }
        .user:hover {
            color: $color-accent-light;
            .badge {
                color: $color-chat-text1;
            }
        }
        .badge {
            line-height: 1.1em;
            font-size: 0.8em;
            padding: 0 $gutter-md;
            display: inline-block;
            background: $color-surface-dark4;
            border-radius: 50%;
            margin: $gutter-xs 0;
            color: $color-chat-text2;
        }
        .badge, .remove {
            float: right;
            margin-right: $gutter-md;
        }
        .remove {
            display: inline-block;
            text-decoration: none;
            text-align: center;
            line-height: 1.3em;
            width: 1.3em;
            height: 1.3em;
        }
        .remove:hover {
            color: $color-light;
        }
    }
    .unread-0 .badge {
        display: none;
    }
    .unread-0 .user,
    .unread-0 .user:hover {
        color: $text-color1;
    }
    .empty {
        color: $text-color1;
        margin: $gutter-lg;
    }
}

#chat-user-list {
    .user {
        margin: 0;
        cursor: pointer;
        padding: 0 $gutter-lg;
        text-decoration: none;
        visibility: visible;
        align-items: center;
        display: flex;
        .whisper-nick {
            visibility: hidden;
            color: $text-color2;
            margin-right: $gutter-md;
        }
        .whisper-nick:hover {
            color: $text-color;
        }
        &:hover .whisper-nick {
            visibility: visible;
        }
    }
    .content {
        padding: $gutter-lg 0;
    }
    .scrollable {
        max-height: calc(100% - 3em);
    }
    &.search-in .user {
        display: none;
    }
    &.search-in .user.found {
        display: block;
    }
    input {
        padding: $gutter-lg $gutter-lg;
        border: none;
        background: none;
        border-radius: 0;
    }
}

#chat-settings {

    #chat-settings-form {
        margin: $gutter-lg 0;
    }

    .form-group {
        margin: $gutter-lg $gutter-lg;
        display: block;
        position: relative;
    }

    h4 {
        font-size: 0.9em;
        margin-top: $gutter-lg*2;
        margin-bottom: $gutter-lg;
        padding-left: $gutter-lg;
        color: $text-color-disabled;
        text-transform: uppercase;
        font-weight: 600;
    }
    label {
        display: inline-block;
        font-weight: normal;
        max-width: 100%;
        margin-bottom: $gutter-md;
    }
    .checkbox label {
        margin-bottom: 0;
        font-weight: 400;
        max-width: 100%;
        cursor: pointer;
        display: flex;
        justify-items: center;
        align-items: center;
    }
    .checkbox input {
        margin: 0 $gutter-sm 0 0;
        line-height: normal;
        box-sizing: border-box;
        padding: 0;
    }
    select {
        border-radius: $bradius;
        padding: $gutter-sm;
        width: 100%;
    }
}

/* Login screen */
#chat-login-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba($color-surface-dark1,0.75);
    position: absolute;
    text-align: center;
    top:0;
    left:0;
    right:0;
    bottom:0;
    h2 {
        font-size: 2.5em;
        font-weight: normal;
        margin: 0;
    }
    p {
        margin: 1em 0 1.5em 0;
    }
}

/* Loading screen */
#chat-loading {
    opacity: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
}

/* Settings */
.pref-showtime .time {
    display: inline !important;
}
.pref-hideflairicons .features {
    display: none;
}
.pref-autocompletehelper #chat-auto-complete.active {
    opacity: 1;
}

/* Nano */
.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nano > .nano-content {
    overflow-anchor: none;
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.nano > .nano-content:focus {
    outline: none;
}

.nano > .nano-content::-webkit-scrollbar {
    display: none;
}

.has-scrollbar > .nano-content::-webkit-scrollbar {
    display: block;
}

.nano > .nano-pane {
    background: transparent;
    position: absolute;
    width: $gutter-md;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden \9; /* Target only IE7 and IE8 with this hack */
    opacity: .01;
    transition: .2s;
}

.nano > .nano-pane > .nano-slider {
    opacity: 0.5;
    background: $color-surface-light2;
    position: relative;
    border-radius: 0;
}

.nano:hover > .nano-pane,
.nano-pane.active,
.nano-pane.flashed {
    visibility: visible \9; /* Target only IE7 and IE8 with this hack */
    opacity: 0.99;
}

/** Form Controls */
.form-control {
    color: $color-chat-text2;
    background: $color-surface-dark1;
    border: 1px solid lighten($color-surface-dark1, 9);
}
.form-control:focus {
    color: $color-chat-text1;
    background: $color-surface-dark1;
    border: 1px solid lighten($color-surface-dark1, 15);
    box-shadow: none;
    outline: none;
}
.form-control[disabled],
.form-control[readonly],
.form-control::placeholder {
    color: $color-chat-place;
}
.form-control[type="text"],
textarea.form-control {
    width: 100%;
}


button.btn {
    display: inline-block;
    padding: $gutter-md $gutter-lg;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: $bradius;
}
.btn-primary {
    color: $text-color;
    background-color: $color-accent;
    border-color: $color-accent;
}
.btn-default {
    color: $text-color3;
    background-color: $color-surface-light1;
    border-color: $color-surface-light3;
}
