.chat-output {
  width: 100%;
  height: 100%;
}

.chat-lines {
  font-family: $chat-lines-font;
  line-height: 1.65em;
  backface-visibility: hidden;
  perspective: 1000px;
  outline: 0 !important;
}
