@use 'combo';

.emote {
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-indent: -999em;
}

.pref-disableanimations {
  .emote,
  .emote:hover,
  .emote::before,
  .emote::after {
    animation: none !important;
  }
}
