@use '../abstracts/' as a;

button.btn {
  display: inline-block;
  padding: a.$gutter-md a.$gutter-lg;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: a.$win95-bg;
  color: a.$win95-text;
  @include a.win95-button-raised;

  &:active {
    @include a.win95-button-pressed;
    padding: calc(a.$gutter-md + 1px) calc(a.$gutter-lg - 1px)
      calc(a.$gutter-md - 1px) calc(a.$gutter-lg + 1px);
  }
}

.btn-primary {
  color: a.$win95-text;
  background-color: a.$win95-bg;
  border: none;
  @include a.win95-button-raised;
}

.btn-default {
  color: a.$win95-text;
  background-color: a.$win95-bg;
  border: none;
  @include a.win95-button-raised;
}
