@use 'sass:color';
@use '../abstracts/' as a;

.form-control {
  color: a.$color-chat-text2;
  background: a.$color-surface-dark1;
  border: 1px solid color.adjust(a.$color-surface-dark1, $lightness: 9%);

  &:focus {
    color: a.$color-chat-text1;
    background: a.$color-surface-dark1;
    border: 1px solid color.adjust(a.$color-surface-dark1, $lightness: 15%);
    box-shadow: none;
    outline: none;
  }

  &[disabled],
  &[readonly],
  &::placeholder {
    color: a.$color-chat-place;
  }

  &[type='text'] {
    width: 100%;
  }
}

textarea.form-control {
  width: 100%;
}
