@use '../abstracts/' as a;

.form-control {
  color: a.$win95-text;
  background: a.$win95-input-bg;
  border: none;
  border-radius: 0;
  @include a.win95-sunken;

  &:focus {
    color: a.$win95-text;
    background: a.$win95-input-bg;
    border: none;
    outline: none;
    @include a.win95-sunken;
  }

  &[disabled],
  &[readonly],
  &::placeholder {
    color: a.$win95-text-disabled;
    background-color: a.$win95-bg;
  }

  &[type='text'] {
    width: 100%;
  }
}

textarea.form-control {
  width: 100%;
  padding: 3px 6px;
}
