.btn-icon {
  opacity: 0.25;
  transition: opacity 150ms;
  width: 100%;
  height: 100%;
  display: inline-block;

  &:hover,
  &.active {
    opacity: 1;
  }
}

.icon-google,
.icon-tv,
.icon-twitch,
.icon-twitter {
  background-image: url('../../icons/icons.png');
  background-repeat: no-repeat;
  display: inline-block;
}
.icon-google {
  background-position: -18px -21px;
  width: 16px;
  height: 16px;
}
.icon-tv {
  background-position: -0px -0px;
  width: 30px;
  height: 19px;
}
.icon-twitch {
  background-position: -0px -39px;
  width: 16px;
  height: 16px;
}
.icon-twitter {
  background-position: -18px -39px;
  width: 16px;
  height: 16px;
}
