@use '../abstracts/' as a;

.chat-tool-btn {
  cursor: pointer;
  color: a.$win95-text-disabled;
  position: relative;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}
