@use '~@destinygg/libstiny' as dgg;

@use 'poll';

.command-menu {
  display: none;
  background-color: dgg.$semantic-background-default;
  z-index: 132;
  border-radius: dgg.$semantic-radii-x-small dgg.$semantic-radii-x-small 0 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: dgg.$space-2;
  border: 1px solid dgg.$semantic-border-default;

  &--shown {
    display: block;
  }

  &__title {
    border-bottom: 1px solid dgg.$semantic-border-default;

    h2 {
      text-align: center;
      margin: 0 0 dgg.$space-2 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__section {
    padding: dgg.$space-2;

    &:not(:last-child) {
      border-bottom: 1px solid dgg.$semantic-border-default;
    }
  }

  &__actions {
    display: flex;
    padding: dgg.$space-2 0;
    justify-content: space-between;
    border-top: 1px solid dgg.$semantic-border-default;
  }

  span {
    font-weight: 500;
    padding: dgg.$space-1;
  }

  &__input {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: dgg.$space-2;
  }
}
