@use '../../abstracts/' as a;

.msg-highlight {
  color: a.$win95-text;
  background-color: transparent;

  .user::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 16px;
    margin-right: 2px;
    vertical-align: middle;
    margin-bottom: 3px;
    background: url('../img/aim-chat-bubble.png') no-repeat center / contain;
    image-rendering: pixelated;
  }

  time,
  .continue {
    color: a.$win95-text-disabled;
  }
}
