@use '../../abstracts/' as a;

.msg-historical {
  color: a.$win95-text;

  .time {
    display: inline !important;
  }

  &:before {
    background: none !important;
  }
}

.chat-output:not(.chat-win-main) {
  .msg-historical {
    background-color: transparent;
    color: a.$win95-text;
  }

  .msg-historical.msg-own {
    background: none !important;
    color: a.$win95-text;
  }
}
