@use '../../abstracts/' as a;

@use 'command';
@use 'error';
@use 'info';
@use 'status';

.msg-command,
.msg-error,
.msg-info,
.msg-status {
  white-space: pre-wrap;
  color: a.$win95-text-disabled;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-style: italic;
  padding: 1px 4px;
}

.onstreamchat {
  .msg-ui {
    display: none !important;
  }
}
