$chat-chrome-font: 'Roboto', Helvetica, 'Trebuchet MS', Verdana, sans-serif;
$chat-lines-font: 'Roboto', Helvetica, 'Trebuchet MS', Verdana, sans-serif;
$chat-min-width: 300px;

$gutter-xs: 0.2em;
$gutter-sm: 0.3em;
$gutter-md: 0.6em;
$gutter-lg: 0.9em;

$bradius: 0.25em;

$color-light: #fff7f9;
$color-dark: #201f1e;
$color-accent: #4a8ecc;
$color-accent-light: #4fb1f4;
$color-accent-alt: #a66be5;
$text-color: #dedede;
$text-color1: #999999;
$text-color2: #666666;
$text-color3: #333333;
$text-color-disabled: #494949;

$color-surface-light1: #ffffff;
$color-surface-light2: #f5f5f5;
$color-surface-light3: #eeeeee;
$color-surface-dark1: #030303;
$color-surface-dark2: #111111;
$color-surface-dark3: #222222;
$color-surface-dark4: #333333;

$color-chat-text1: #dedede;
$color-chat-text2: #b9b9b9;
$color-chat-text3: #838383;
$color-chat-disabled: #414141;
$color-chat-place: #404040;

$color-chat-tagged: #232323;
$color-chat-highlight: #06263e;
$color-chat-emphasize: #151515;
$color-chat-bg: #080808;

$color-label-user: #dcdcdc;

$color-green-text: #6ca528;
$color-link: #02c2ff;
$color-link-hover: #0088cc;
$color-link-visited: #a66be5;
$color-text-broadcast: #edea12;
$color-underline-nsfl: #fff000;
$color-underline-nsfw: #ff0000;
$color-underline-spoilers: #ff80ce;

$color-green: #61bd4f;
$color-darkgreen: #4c7c42;
$color-yellow: #f2d600;
$color-orange: #ffab4a;
$color-red: #eb5a46;
$color-darkred: #850000;
$color-darkorange: #c75f00;
$color-purple: #c377e0;
$color-blue: #0079bf;
$color-sky: #00c2e0;
$color-lime: #51e898;
$color-pink: #ff80ce;
$color-black: #4d4d4d;
