@use '../../abstracts/' as a;

.msg-donation,
.msg-subscription,
.msg-giftsub,
.msg-massgift,
.msg-broadcast {
  text-shadow: none;
  font-family: 'MSSansSerif', sans-serif;
  font-size: 11px;
  font-weight: normal;
  padding: 1px 4px;
  border-radius: 0;
  border: none;
  display: block;
  margin: 0;
  color: a.$win95-text;

  .event-wrapper {
    display: inline;
  }

  .event-top {
    display: inline;
    padding: 0;
    background-color: transparent;
  }

  .event-icon {
    display: none;
  }

  .event-bottom {
    display: inline;
    padding: 0;
    background-color: transparent;
  }

  .event-button {
    display: none;
  }

  .user.smarterchild {
    font-weight: bold;
    color: #008000;
    cursor: default;
    margin-left: 0;

    &::before {
      content: '';
      display: inline-block;
      width: 14px;
      height: 16px;
      margin-right: 2px;
      vertical-align: middle;
      margin-bottom: 2px;
      background: url('../img/aim-icon.png') no-repeat center / contain;
      image-rendering: pixelated;
    }
  }

  .user:not(.smarterchild) {
    margin-left: 0;
    color: a.$win95-highlight;
  }

  &.censored {
    .text {
      display: none;
    }

    .event-bottom:after {
      color: a.$win95-text-disabled;
      cursor: pointer;
      content: '<censored>';
    }

    .event-bottom:hover:after {
      color: a.$win95-text;
    }
  }
}

.onstreamchat {
  .msg-donation,
  .msg-subscription,
  .msg-giftsub,
  .msg-massgift,
  .msg-broadcast {
    text-shadow: none;
    padding: 0;
    border-style: none none none solid;
    border-width: 6px;
    border-radius: 0;

    .event-top,
    .event-bottom {
      padding: 0 0 0 a.$gutter-md;
      background: none;
    }

    &.rainbow-border {
      border-style: none none none solid;
      border-width: 6px;
      border-radius: 0;

      &:before {
        content: '';
        position: absolute;
        top: unset;
        right: 100%;
        bottom: unset;
        left: unset;
        z-index: -1;
        margin: -1px 0 0 0;
        border-radius: inherit;
        background: var(--rainbow-gradient);
        aspect-ratio: 1/1;
        height: 100%;
        transform: rotate(90deg);
      }
    }
  }
}
