.icon-bot,.icon-command,.icon-error,.icon-eve,.icon-flair1,.icon-flair10,.icon-flair11,.icon-flair12,.icon-flair13,.icon-flair15,.icon-flair2,.icon-flair3,.icon-flair4,.icon-flair5,.icon-flair6,.icon-flair8,.icon-flair9,.icon-google,.icon-info,.icon-moderator,.icon-protected,.icon-reddit,.icon-status,.icon-subscriber,.icon-tv,.icon-twitch,.icon-twitter{
    background-image:url('../../icons/icons.png');
    background-repeat:no-repeat;
    display: inline-block;
}
.icon-bot {
    background-position: -36px -59px;
    width: 16px;
    height: 16px;
}
.icon-command {
    background-position: -0px -59px;
    width: 16px;
    height: 16px;
}
.icon-error {
    background-position: -36px -41px;
    width: 16px;
    height: 16px;
}
.icon-eve {
    background-position: -72px -18px;
    width: 16px;
    height: 16px;
}
.icon-flair1 {
    background-position: -32px -0px;
    width: 18px;
    height: 18px;
}
.icon-flair10 {
    background-position: -18px -77px;
    width: 16px;
    height: 16px;
}
.icon-flair11 {
    background-position: -36px -77px;
    width: 16px;
    height: 16px;
}
.icon-flair12 {
    background-position: -18px -41px;
    width: 16px;
    height: 16px;
}
.icon-flair13 {
    background-position: -0px -21px;
    width: 18px;
    height: 18px;
}
.icon-flair15 {
    background-position: -54px -41px;
    width: 16px;
    height: 16px;
}
.icon-flair2 {
    background-position: -72px -0px;
    width: 16px;
    height: 16px;
}
.icon-flair3 {
    background-position: -20px -21px;
    width: 18px;
    height: 18px;
}
.icon-flair4 {
    background-position: -72px -36px;
    width: 16px;
    height: 16px;
}
.icon-flair5 {
    background-position: -0px -41px;
    width: 16px;
    height: 16px;
}
.icon-flair6 {
    background-position: -18px -59px;
    width: 16px;
    height: 16px;
}
.icon-flair8 {
    background-position: -52px -0px;
    width: 18px;
    height: 18px;
}
.icon-flair9 {
    background-position: -54px -59px;
    width: 16px;
    height: 16px;
}
.icon-google {
    background-position: -72px -59px;
    width: 16px;
    height: 16px;
}
.icon-info {
    background-position: -90px -0px;
    width: 16px;
    height: 16px;
}
.icon-moderator {
    background-position: -90px -18px;
    width: 16px;
    height: 16px;
}
.icon-protected {
    background-position: -90px -36px;
    width: 16px;
    height: 16px;
}
.icon-reddit {
    background-position: -90px -54px;
    width: 16px;
    height: 16px;
}
.icon-status {
    background-position: -0px -77px;
    width: 16px;
    height: 16px;
}
.icon-subscriber {
    background-position: -52px -20px;
    width: 18px;
    height: 18px;
}
.icon-tv {
    background-position: -0px -0px;
    width: 30px;
    height: 19px;
}
.icon-twitch {
    background-position: -54px -77px;
    width: 16px;
    height: 16px;
}
.icon-twitter {
    background-position: -72px -77px;
    width: 16px;
    height: 16px;
}