.icon-command,.icon-error,.icon-google,.icon-info,.icon-status,.icon-tv,.icon-twitch,.icon-twitter{
    background-image:url('../../icons/icons.png');
    background-repeat:no-repeat;
    display: inline-block;
}
.icon-command {
    background-position: -32px -0px;
    width: 16px;
    height: 16px;
}
.icon-error {
    background-position: -0px -21px;
    width: 16px;
    height: 16px;
}
.icon-google {
    background-position: -18px -21px;
    width: 16px;
    height: 16px;
}
.icon-info {
    background-position: -50px -0px;
    width: 16px;
    height: 16px;
}
.icon-status {
    background-position: -50px -18px;
    width: 16px;
    height: 16px;
}
.icon-tv {
    background-position: -0px -0px;
    width: 30px;
    height: 19px;
}
.icon-twitch {
    background-position: -0px -39px;
    width: 16px;
    height: 16px;
}
.icon-twitter {
    background-position: -18px -39px;
    width: 16px;
    height: 16px;
}